#! Server
server:
  uri: udp://0.0.0.0:15060

#! Management socket
management:
  uri: udp://0.0.0.0:15090

#! Application
sip:
  message:
    exclusions: [MESSAGE, SUBSCRIBE, NOTIFY, OPTIONS, REGISTER]
    x-correlation-header: X-Call-ID

#! Metrics
metrics:
  logging:
    step: 1000
  influxdb:
    uri: http://sip3-influxdb:8086
    db: sip3
    step: 1000

#! Mongo
mongo:
  uri: mongodb://sip3-mongodb:27017
  db: sip3
  bulk-size: 1
  collections:
    - prefix: attributes
      indexes:
        ascending: [name]
      max-collections: 7
    - prefix: sip_call_index
      indexes:
        ascending: [created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, duration, setup_time, establish_time]
        hashed: [call_id, x_call_id]
      max-collections: 7
    - prefix: sip_call_raw
      indexes:
        ascending: [created_at]
        hashed: [call_id]
      max-collections: 7
    - prefix: rtpr_rtcp_index
      indexes:
        ascending: [started_at, src_addr, src_host, dst_addr, dst_host, mos, r_factor]
        hashed: [call_id]
      max-collections: 7
    - prefix: rtpr_rtcp_raw
      indexes:
        ascending: [created_at]
        hashed: [call_id]