# Name hosts in your network and
# also hosts connected as trunk.
#
# Example:
#
# hosts:
#   - name: MY-COMPANY-SBC
#     sip: [127.0.0.1]
#   - name: MY-COMPANY-SSW
#     sip: [192.0.0.1:5060]
#   - name: TRUNK-CUSTOMER
#     sip: [35.0.0.1/28]