# Name hosts in your network and
# also hosts connected as trunk.
#
# Example:
#
# hosts:
#   - name: MY-COMPANY-SBC
#     sip: [23.08.20.15]
#   - name: MY-COMPANY-SSW
#     sip: [192.0.0.1:5060]
#   - name: MY-TRUNK-CUSTOMER-1
#     sip: [26.03.19.93/26]