<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/sip3-salto/default.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/sip3-salto/%d{yyyy-MM-dd}.default.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.sip3" level="INFO" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>

    <appender name="METRICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/sip3-salto/metrics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/sip3-salto/%d{yyyy-MM-dd}.metrics.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.micrometer.core.instrument.logging.LoggingMeterRegistry" level="INFO" additivity="false">
        <appender-ref ref="METRICS"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="DEFAULT"/>
    </root>
</configuration>