JAVA_HOME={{ java.home | default('/usr')}}
JAVA_XMS=-Xms{{ java.xms | default('512M') }}
JAVA_XMX=-Xmx{{ java.xmx | default('1024M') }}
JAVA_GC=-XX:+Use{{ java.gc | default('G1') }}GC
JAVA_OPTS="$JAVA_XMS $JAVA_XMX $JAVA_GC {{ java.other | default('') }}"
{% if "vertx_metrics" in features -%}
VERTX_OPTS="-options=/etc/sip3-captain/vertx-options.json"
{% endif %}
