[Unit]
Description=SIP3 Captain
Documentation=https://www.sip3.io/docs
After=network-online.target

[Service]
User=sip3
Group=sip3
EnvironmentFile=-/etc/sip3-captain/environment.conf
WorkingDirectory=/opt/sip3-captain
ExecStartPre=/usr/bin/mkdir -p /tmp/sip3-captain
ExecStartPre=/usr/bin/touch /var/run/sip3-captain.pid
ExecStartPre=/usr/bin/chown -R sip3:sip3 /var/run/sip3-captain.pid /tmp/sip3-captain
ExecStartPre=/usr/bin/chmod -R 0755 /var/run/sip3-captain.pid /tmp/sip3-captain
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
PermissionsStartOnly=true
PIDFile=/var/run/sip3-captain.pid
ExecStart=/usr/bin/sh -c '\
$JAVA_HOME/bin/java \
  $JAVA_XMS $JAVA_XMX $JAVA_GC $JAVA_OTHER \
 -Dlogback.configurationFile=/etc/sip3-captain/logback.xml \
 -jar /opt/sip3-captain/sip3-captain.jar \
 -Dconfig.location=/etc/sip3-captain/application.yml \
 -Dcodecs.location=/etc/sip3-captain/codecs.yml \
 -Dvertx.cacheDirBase=/tmp/sip3-captain \
 $VERTX_OPTS \
2>&1 >>/var/log/sip3-captain/default.log & echo $! > /var/run/sip3-captain.pid'
SuccessExitStatus=143
Type=forking
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=sip3-captain.service
