#!/bin/sh
. /etc/sip3-captain/environment.conf

{% if "dpdk" in features or "sip3-libpcap" in features -%}
export LD_LIBRARY_PATH=/opt/sip3-captain/lib:$LD_LIBRARY_PATH
{% endif %}

$JAVA_HOME/bin/java \
 $JAVA_OPTS \
 -Dlogback.configurationFile=/etc/sip3-captain/logback.xml \
 -jar /opt/sip3-captain/sip3-captain.jar \
 -Dconfig.location=/etc/sip3-captain/application.yml \
 -Dvertx.cacheDirBase=/tmp/sip3-captain \
 $VERTX_OPTS \
2>&1 >>/var/log/sip3-captain/default.log
