{%- if captain.pcap.dev|length > 1 -%}
  {%- set service_name = "sip3-captain-" ~ item -%}
{%- else -%}
  {%- set service_name = "sip3-captain" -%}
{%- endif -%}
[Unit]
Description=SIP3 Captain
Documentation=https://www.sip3.io/docs
After=network-online.target

[Service]
WorkingDirectory=/opt/sip3-captain
ExecStart=/opt/sip3-captain/{{ service_name }}
User=root
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias={{ service_name }}.service
