#! Pcap (libpcap, WinPcap, Npcap)
pcap:
  # Use the property below if you want SIP3 Captain to listen on specific network interface
  dev: eth0
  # Use the property below if you want to configure BPF filters to filter only SIP traffic (recommended)
  bpf-filter: udp or tcp

#! Encoder
encoder:
  # To avoid problems with MTU while sending UDP packets SIP3 Captain will compress all the packets with payload bigger then `min-size-to-compress`
  min-size-to-compress: 1500

#! Sender
sender:
  #  Use the property below if you want to configure `sip3-salto` URI
  uri: udp://127.0.0.1:15060

#! ManagementSocket
#  Uncomment and configure properties below if you want SIP3 Salto to share SDP information with SIP3 Captain (Required for MOS and R-Factor calculations)
#management:
#  schema: udp
#  local-host: 127.0.0.1:15090
#  remote-host: 127.0.0.1:15090

#! RTCP
rtcp:
  #  Use the property below if you want SIP3 Captain to handle RTCP packets (Make sure that you haven't excluded RTCP in `pcap.bpf-filter`)
  enabled: false

#! Metrics
metrics:
  logging:
    step: 1000