#! Name
name: {{ salto.name | default('sip3-salto') }}

{% if license.file is defined and edition != "ce" -%}
#! License
license:
  path: /etc/sip3-salto/{{ license.file }}
{% endif %}

#! Vert.x
vertx:
  instances: {{ salto.vertx.instances | default('1') }}

#! Server
server:
  {% if salto.server.uri is defined -%}
  uri: {{ salto.server.uri }}
  {% else -%}
  uri: udp://{{ salto.address | default(address | default('127.0.0.1')) }}:{{ salto.port | default('15060') }}
  {% endif -%}
  buffer_size: {{ salto.server.buffer_size | default(65535) }}
  {% if "ssl" in features -%}
  ssl:
     key_store: {{ salto.server.ssl.key_store | default('') }}
     key_store_password: {{ salto.server.ssl.key_store_password | default('') }}
  {% endif %}

{% if "rtp" in features or "rtcp" in features -%}
#! Management socket
management:
  {% if salto.management.uri is defined -%}
  uri: {{ salto.management.uri }}
  {% else -%}
  uri: udp://{{ salto.address | default(address | default('127.0.0.1')) }}:{{ salto.management.port | default('15090') }}
  {% endif -%}
  expiration_delay: {{ salto.management.expiration_delay | default('60000') }}
  expiration_timeout: {{ salto.management.expiration_timeout | default('120000') }}
  publish_media_control_mode: {{ salto.management.publish_media_control_mode | default('0') }}
{% endif %}

#! MongoDB
# TODO: change mongo to mongodb
mongo:
  {% if salto.mongodb.uri is defined -%}
  uri: {{ salto.mongodb.uri }}
  {% else -%}
  uri: mongodb://{{ mongodb.address | default(address | default('127.0.0.1')) }}:{{ mongodb.port | default('27017') }}
  {% endif -%}
  db: {{ mongodb.db | default( salto.mongodb.db | default('sip3')) }}
  bulk_size: {{ salto.mongodb.bulk_size | default('1') }}
  update_period: {{ salto.mongodb.update_period | default('300000') }}
  collections:
    - prefix: attributes
      indexes:
        ascending: {{ salto.mongodb.collections.attributes.indexes.hashed | default('[name]') }}
      max_collections: {{ salto.mongodb.collections.attributes.max_collections | default('30') }}
    - prefix: sip_call_index
      indexes:
        ascending: {{ salto.mongodb.collections.sip_call_index.indexes.ascending | default('[created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, duration, trying_delay, setup_time, establish_time, disconnect_time, transactions, retransmits, terminated_by, debug]') }}
        hashed: {{ salto.mongodb.collections.sip_call_index.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_call_index.max_collections | default('30') }}
    - prefix: sip_call_raw
      indexes:
        ascending: {{ salto.mongodb.collections.sip_call_raw.indexes.ascending | default('[created_at]') }}
        hashed: {{ salto.mongodb.collections.sip_call_raw.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_call_raw.max_collections | default('30') }}
    {% if "register" in features -%}
    - prefix: sip_register_index
      indexes:
        ascending: {{ salto.mongodb.collections.sip_register_index.indexes.ascending | default('[created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type transactions, retransmits, debug]') }}
        hashed: {{ salto.mongodb.collections.sip_register_index.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_register_index.max_collections | default('30') }}
    - prefix: sip_register_raw
      indexes:
        ascending: {{ salto.mongodb.collections.sip_register_raw.indexes.ascending | default('[created_at]') }}
        hashed: {{ salto.mongodb.collections.sip_register_raw.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_register_raw.max_collections | default('30') }}
    {% endif -%}
    {% if "message" in features -%}
    - prefix: sip_message_index
      indexes:
        ascending: {{ salto.mongodb.collections.sip_message_index.indexes.ascending | default('[created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, retransmits, debug]') }}
        hashed: {{ salto.mongodb.collections.sip_message_index.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_message_index.max_collections | default('30') }}
    - prefix: sip_message_raw
      indexes:
        ascending: {{ salto.mongodb.collections.sip_message_raw.indexes.ascending | default('[created_at]') }}
        hashed: {{ salto.mongodb.collections.sip_message_raw.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_message_raw.max_collections | default('30') }}
    {% endif -%}
    {% if "options" in features -%}
    - prefix: sip_options_index
      indexes:
        ascending: {{ salto.mongodb.collections.sip_options_index.indexes.ascending | default('[created_at, terminated_at, src_addr, src_host, dst_addr, dst_host, caller, callee, state, error_code, error_type, retransmits, debug]') }}
        hashed: {{ salto.mongodb.collections.sip_options_index.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_options_index.max_collections | default('30') }}
    - prefix: sip_options_raw
      indexes:
        ascending: {{ salto.mongodb.collections.sip_options_raw.indexes.ascending | default('[created_at]') }}
        hashed: {{ salto.mongodb.collections.sip_options_raw.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.sip_options_raw.max_collections | default('30') }}
    {% endif -%}
    {% if "rtcp" in features -%}
    - prefix: rtpr_rtcp_index
      indexes:
        ascending: {{ salto.mongodb.collections.rtpr_media_index.indexes.ascending | default('[created_at, src_addr, src_host, dst_addr, dst_host, caller, callee, mos, r_factor, codec, one_way, duration, bad_report_fraction]') }}
        hashed: {{ salto.mongodb.collections.rtpr_media_index.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.rtpr_media_index.max_collections | default('30') }}
    - prefix: rtpr_rtcp_raw
      indexes:
        ascending: {{ salto.mongodb.collections.rtpr_rtcp_raw.indexes.ascending | default('[created_at]') }}
        hashed: {{ salto.mongodb.collections.rtpr_rtcp_raw.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.rtpr_rtcp_raw.max_collections | default('30') }}
    {% endif -%}
    {% if "rtp" in features -%}
    - prefix: rtpr_rtp_index
      indexes:
        ascending: {{ salto.mongodb.collections.rtpr_media_index.indexes.ascending | default('[created_at, src_addr, src_host, dst_addr, dst_host, caller, callee, recorded, mos, r_factor, codec, one_way, duration, bad_report_fraction]') }}
        hashed: {{ salto.mongodb.collections.rtpr_media_index.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.rtpr_media_index.max_collections | default('30') }}
    - prefix: rtpr_rtp_raw
      indexes:
        ascending: {{ salto.mongodb.collections.rtpr_rtp_raw.indexes.ascending | default('[created_at]') }}
        hashed: {{ salto.mongodb.collections.rtpr_rtp_raw.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.rtpr_rtp_raw.max_collections | default('30') }}
    {% endif -%}
    {% if "rec" in features -%}
    - prefix: rec_raw
      indexes:
        ascending: {{ salto.mongodb.collections.rec_raw.indexes.ascending | default('[created_at, src_addr, src_host, dst_addr, dst_host]') }}
        hashed: {{ salto.mongodb.collections.rec_raw.indexes.hashed | default('[call_id]') }}
      max_collections: {{ salto.mongodb.collections.rec_raw.max_collections | default('30') }}
    {% endif %}

#! Metrics
metrics:
  influxdb:
    {% if salto.metrics.influxdb.uri is defined -%}
    uri: {{ salto.metrics.influxdb.uri }}
    {% else -%}
    uri: http://{{ influxdb.address | default(address | default('127.0.0.1')) }}:{{ influxdb.port | default('8086') }}
    {% endif -%}
    db: {{ salto.metrics.influxdb.db | default( influxdb.db | default('sip3')) }}

#! Application
time_suffix: {{ salto.time_suffix| default('yyyyMMdd') }}

attributes:
  record_ip_addresses: {{ salto.attributes.record_ip_addresses | default('false') }}
  record_call_users: {{ salto.attributes.record_call_users | default('false') }}

{% if "udf" in features -%}
udf:
  check_period: {{ salto.udp.check_period | default(10000) }}
  execution_timeout: {{ salto.udp.execution_timeout | default(300) }}
{% endif %}

sip:
  message:
    exclusions: {% if salto.sip.message.exclusions is defined -%}
        {{ salto.sip.message.exclusions }}
      {%- else %}
      {%- if "register" not in features %}

      - REGISTER
      {%- endif %}
      {%- if "message" not in features %}

      - MESSAGE
      {%- endif %}
      {%- if "subscribe" not in features %}

      - SUBSCRIBE
      {%- endif %}
      {%- if "notify" not in features %}

      - NOTIFY
      {%- endif %}
      {%- if "options" not in features %}

      - OPTIONS
      {%- endif %}
    {%- endif %}

    {%- if salto.sip.message.x_correlation_header is defined %}

    x_correlation_header: {{ salto.sip.message.x_correlation_header }}
    {%- endif %}

    parser:
      mode: {{ salto.sip.message.parser.mode | default('1') }}
      extension_headers: {{ salto.sip.message.parser.extension_headers | default('[]') }}

  transaction:
    expiration_delay: {{ salto.sip.transaction.expiration_delay | default('1000') }}
    response_timeout: {{ salto.sip.transaction.response_timeout | default('3000') }}
    aggregation_timeout: {{ salto.sip.transaction.aggregation_timeout | default('60000') }}
    termination_timeout: {{ salto.sip.transaction.termination_timeout | default('2000') }}
    save_sip_message_payload_mode: {{ salto.sip.transaction.save_sip_message_payload_mode | default('0') }}
  call:
    expiration_delay: {{ salto.sip.call.expiration_delay | default('1000') }}
    aggregation_timeout: {{ salto.sip.call.aggregation_timeout | default('120000') }}
    termination_timeout: {{ salto.sip.call.termination_timeout | default('2000') }}
    duration_timeout: {{ salto.sip.call.duration_timeout | default('7200000') }}
    duration_distributions: {{ salto.sip.call.duration_distributions | default('[]') }}
  {% if "register" in features -%}
  register:
    expiration_delay: {{ salto.sip.register.expiration_delay | default('1000') }}
    aggregation_timeout: {{ salto.sip.register.aggregation_timeout | default('5000') }}
    update_period: {{ salto.sip.register.update_period | default('60000') }}
    duration_timeout: {{ salto.sip.register.duration_timeout | default('900000') }}
  {% endif %}

{% if "rtp" in features or "rtcp" in features %}
media:
  {% if "rtcp" in features -%}
  rtcp:
    expiration_delay: {{ salto.media.rtcp.expiration_delay | default('1000') }}
    aggregation_timeout: {{ salto.media.rtcp.aggregation_timeout | default('30000') }}
  {%- endif %}

  rtp_r:
    expiration_delay: {{ salto.media.rtp_r.expiration_delay | default('1000') }}
    aggregation_timeout: {{ salto.media.rtp_r.aggregation_timeout | default('35000') }}
    min_expected_packets: {{ salto.media.rtp_r.min_expected_packets | default('100') }}
    r_factor_distributions: {{ salto.media.rtp_r.r_factor_distributions | default('[30, 50, 75, 95]') }}
    duration_distributions: {{ salto.media.rtp_r.duration_distributions | default('[10s, 30s, 1m, 5m, 1h]') }}
{% endif %}

{% if "rec" in features %}
recording:
  enabled: true
  expiration_delay: {{ salto.recording.expiration_delay | default('4000') }}
  aggregation_timeout: {{ salto.recording.aggregation_timeout | default('30000') }}
  bulk_size: {{ salto.recording.bulk_size | default('64') }}
{% endif %}

{% if "rtp" in features or "rtcp" in features or "rec" in features -%}
tasks:
  enabled: {{ salto.tasks.enabled | default('true') }}
  update_period: {{ salto.tasks.update_period | default('300000') }}
{% endif %}
