#! Server
server:
  port: {{ twig.server.port | default('8080') }}
  servlet:
    context_path: {{ twig.server.servlet.context_path | default('/api') }}
    session:
       timeout: {{ twig.server.servlet.session.timeout | default('180m') }}

#! Application
time_suffix: {{ twig.time_suffix | default('yyyyMMdd') }}

session:
  default_limit: {{ twig.session.default_limit | default('50') }}
  use_x_correlation_header: {{ twig.session.use_x_correlation_header | default('true') }}
  show_retransmits: {{ twig.session.show_retransmits | default('true') }}
  ignore_nanos: {{ twig.session.ignore_nanos | default('false') }}
  call:
    max_legs: {{ twig.session.call.max_legs | default('10') }}
    aggregation_timeout: {{ twig.session.call.aggregation_timeout | default('60000') }}
    termination_timeout: {{ twig.session.call.termination_timeout | default('5000') }}
  register:
    max_legs: {{ twig.session.register.max_legs | default('10') }}
    aggregation_timeout: {{ twig.session.register.aggregation_timeout | default('10000') }}
    duration_timeout: {{ twig.session.register.duration_timeout | default('900000') }}
  media:
    block_count: {{ twig.session.media.block_count | default('28') }}
    termination_timeout: {{ twig.session.media.termination_timeout | default('120000') }}

cache:
  refresh_rate: 55000

#! Security
security:
  enabled: {{ twig.security.enabled | default('false') }}
  grafana:
    {% if twig.security.grafana.url is defined -%}
    url: {{ twig.security.grafana.url }}
    {% else %}
    url: http://{{ hoof.address | default(address | default('127.0.0.1')) }}/grafana/api/user
    {% endif %}

#! MongoDB
# TODO: change mongo to mongodb
mongo:
  {% if twig.mongodb.uri is defined -%}
  uri: {{ twig.mongodb.uri }}
  {% else -%}
  uri: mongodb://{{ mongodb.address | default(address | default('127.0.0.1')) }}:{{ mongodb.port | default('27017') }}
  {% endif -%}
  db: {{ mongodb.db | default( twig.mongodb.db | default('sip3')) }}
  max_execution_time: {{ twig.mongodb.max_execution_time | default('10000') }}
  batch_size: {{ twig.mongodb.batch_size | default('128') }}

#! Spring Jackson
spring:
  jackson:
    property_naming_strategy: SNAKE_CASE
  cache:
    cache_names: listAttributes, listCollectionNames, listCollectionNamesByPrefix
    caffeine:
      spec: expireAfterWrite=1m
  data:
    mongodb:
      uri: ${mongo.uri}
      database: ${mongo.db}
      field_naming_strategy: org.springframework.data.mapping.model.SnakeCaseFieldNamingStrategy
  mvc:
    pathmatch:
      matching_strategy: ant-path-matcher
