[Unit]
Description=SIP3 Salto
Documentation=https://www.sip3.io/docs
After=network-online.target

[Service]
User=sip3
Group=sip3
EnvironmentFile=-/etc/sip3-salto/environment.conf
WorkingDirectory=/opt/sip3-salto
ExecStartPre=/usr/bin/mkdir -p /tmp/sip3-salto
ExecStartPre=/usr/bin/touch /var/run/sip3-salto.pid
ExecStartPre=/usr/bin/chown -R sip3:sip3 /var/run/sip3-salto.pid /tmp/sip3-salto
ExecStartPre=/usr/bin/chmod -R 0755 /var/run/sip3-salto.pid /tmp/sip3-salto
PermissionsStartOnly=true
PIDFile=/var/run/sip3-salto.pid
ExecStart=/usr/bin/sh -c '\
$JAVA_HOME/bin/java \
  $JAVA_XMS $JAVA_XMX $JAVA_GC $JAVA_OTHER \
 -Dlogback.configurationFile=/etc/sip3-salto/logback.xml \
 -jar /opt/sip3-salto/sip3-salto.jar \
 -Dconfig.location=/etc/sip3-salto/application.yml \
 -Dcodecs.location=/etc/sip3-salto/codecs.yml \
 $UDF_OPTS \
 -Dvertx.cacheDirBase=/tmp/sip3-salto \
 $VERTX_OPTS \
2>&1 >>/var/log/sip3-salto/default.log & echo $! > /var/run/sip3-salto.pid'
SuccessExitStatus=143
Type=forking
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
Alias=sip3-salto.service