JAVA_HOME={{ java.home | default('/usr')}}
JAVA_XMS=-Xms{{ java.xms | default('512M') }}
JAVA_XMX=-Xmx{{ java.xmx | default('1024M') }}
JAVA_GC=-XX:+Use{{ java.gc | default('G1') }}GC
JAVA_OTHER="{{ java.other | default('') }}"
{% if "vertx_metrics" in features -%}
VERTX_OPTS="-options /etc/sip3-captain/vertx-options.json"
{% endif %}
{% if edition != "ce" -%}
LD_LIBRARY_PATH=/opt/sip3-captain/lib
{% endif %}
