{
  {% if captain.sender.dns_cache_ttl is defined or captain.sender.dns_server is defined -%}
  "addressResolverOptions": {
    "cacheMaxTimeToLive": {{ captain.sender.dns_cache_ttl | default('60') }},
    {% if captain.sender.dns_server is defined -%}
    "servers" : {{ captain.sender.dns_server }}
    {% endif %}

  },
  {% endif -%}

  "metricsOptions": {
    "enabled": {{ (vertx.enabled | default('false')) | lower }},
    "jvmMetricsEnabled": {{ (vertx.jvmMetricsEnabled | default('false')) | lower }},
    "labels": ["EB_ADDRESS", "EB_FAILURE", "EB_SIDE", "LOCAL", "REMOTE", "POOL_TYPE", "POOL_NAME", "CLASS_NAME"]{%- if captain.metrics.prometheus.port is not defined -%},
    "influxDbOptions": {
      "enabled": true,
      {% if captain.metrics.influxdb.uri is defined -%}
      "uri": "{{ captain.metrics.influxdb.uri }}",
      {% else -%}
      "uri": "http://{{ influxdb.address | default(address | default('127.0.0.1')) }}:{{ influxdb.port | default('8086') }}",
      {% endif -%}
      "db": "{{ captain.metrics.influxdb.db | default('sip3') }}",
      "step" : {{ vertx.step | default('5') }},
      "retention-duration": "{{ vertx.retention_duration | default('7d') }}"
    }{%- else -%},
    "prometheusOptions": {
      "enabled": true,
      "startEmbeddedServer" : true,
      "embeddedServerOptions": {
        "host": "{{ captain.metrics.prometheus.host | default('0.0.0.0') }}",
        "port": {{ captain.metrics.prometheus.port }}
      }
    }
    {% endif -%}
  }
}
